.topDiv {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	box-shadow: 0 2px 6px #ccc;
	z-index: 100;
}
.mainDiv {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 80px;
	left: 30vw;
	right: 30vw;
	height: 460px;
	padding-top: 40px;

	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0px 0px 6px #ccc;
}

div {
	display: flex;
	align-items: center;
	height: 10px;
}
span {
	display: flex;
	height: 50px;
	margin-top: 20px;
	align-items: center;
}
label {
	position: absolute;
	right: 32vw;
	font-size: 15px;
	text-align: right;
}
input {
	position: absolute;
	left: 9vw;
	right: 7vw;
	font-size: 15px;
	padding: 10px;
}

.wordsCount {
	position: absolute;
	left: 9vw;
	right: 7vw;
	text-align: right;
	font-size: 10px;
	color: gray;
}

.backBt {
	position: absolute;
	top: 13px;
	left: 20px;
	cursor: pointer;
}

.showPasswordBt {
	position: absolute;
	right: 7vw;
	width: 4vw;
	height: 40px;
	padding: 0 0 3px 0;
	text-align: center;
	font-size: 24px;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: gray;
	background-color: lightgray;
	color: black;
	cursor: pointer;
}
.showPasswordBt.active {
	border-color: darkblue;
	background-color: cornflowerblue;
	color: white;
}

#idDupCheck {
	position: absolute;
	right: 7vw;
	width: 6vw;
	height: 40px;

	text-align: center;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: darkblue;
	background-color: cornflowerblue;
	cursor: pointer;
}
#idDupCheck:hover {
	filter: brightness(90%);
	transition: 0.3s;
}

.signupBt {
	font-size: 20px;
	text-align: center;
	width: 110px;
	height: 40px;
	background-color: darkcyan;
	color: white;
	border-radius: 7px;
	border-style: hidden;
	cursor: pointer;
}
.signupBt:hover {
	filter: brightness(90%);
	transition: 0.3s;
}
