<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>로그인 - ZiinDrive</title>
	</head>

	<body style="margin: 0">
		<link rel="stylesheet" href="/css/user/login.css" />

		<div class="topDiv">
			<button class="backBt" onclick="location.href='/'">뒤로가기</button>
			<h3 style="text-align: center; cursor: default">로그인</h3>
		</div>

		<div class="mainDiv">
			<span class="titleSpan">
				<h3 class="title">사용자 아이디로&nbsp;&nbsp;</h3>
				<h2 class="title" style="margin-bottom: 3px; color: darkcyan">
					<b>Ziin</b>Drive
				</h2>
				<h3 class="title">&nbsp;에 로그인하세요</h3>
			</span>

			<span>
				<label>ID</label>
				<input id="idInput" type="text" />
			</span>

			<span>
				<label>비밀번호</label>
				<input id="pwInput" style="right: 42.5vw" type="password" />
				<button class="showPasswordBt" onclick="showPassword(this)">
					👁
				</button>
			</span>

			<div class="bottomDiv" style="height: 10px">
				<p id="resetPw">
					<a href="/user/verify/id">비밀번호를 잊어버렸어요</a>
				</p>
			</div>

			<div class="bottomDiv" style="height: 120px">
				<button class="loginBt" onclick="login()">로그인</button>
			</div>

			<div class="bottomDiv" style="height: 80px">
				<h5 style="color: gray; cursor: default">
					아직 계정이 없으신가요? <a href="/signup">회원가입</a>
				</h5>
			</div>
		</div>

		<script src="/js/user/login.js"></script>
		<script src="/js/user/input.js"></script>

		<!--bfcache 처리-->
		<script>
			window.addEventListener("pageshow", function (event) {
				if (
					event.persisted ||
					window.performance?.navigation?.type === 2
				) {
					// 뒤로가기로 복원됐거나, bfcache로 들어옴
					location.reload(); // 강제로 새로고침
				}
			});
		</script>
	</body>
</html>
