/* trashBin only */

/* 휴지통 비우기 버튼 */
.shredAllDiv {
	display: flex;
	justify-content: right;
	align-items: end;
	height: 50px;
}
.shredAllBt {
	position: relative;
	right: 20px;
	font-size: 18px;
	background-color: lightgray;
	border-color: darkgray;
	cursor: pointer;
}

/* 테이블 요소(tr)별 버튼 */
.restoreBt {
	background-color: lightgray;
	color: black;
	cursor: pointer;
}
.shredBt {
	background-color: firebrick;
	color: white;
	cursor: pointer;
}
