<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div
			style="
				position: fixed;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				justify-content: center;
				align-items: center;
				background-color: bisque;
			"
		>
			<h1 style="text-align: center">YOU JUST ACTIVATED MY TRAP CARD</h1>
			<img
				src="/images/trap_card.png"
				alt="YOU JUST ACTIVATED MY TRAP CARD"
			/>
		</div>
	</body>
</html>
