<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Failed to log in - ZiinDrive</title>
	</head>

	<body style="margin: 0">
		<style>
			.container {
				display: flex;
				flex-direction: column;
				width: 100vw;
				height: 100vh;
				align-items: center;
				justify-content: center;
			}
			.button {
				font-size: 20px;
				padding: 10px 20px;
				background-color: darkcyan;
				color: white;
				border-radius: 7px;
				border-style: hidden;
				cursor: pointer;
			}
			.button:hover {
				filter: brightness(90%);
				transition: 0.3s;
			}
		</style>

		<div class="container">
			<h2 style="margin-bottom: 140px; flex-direction: row">
				로그인 도중 문제가 발생하였습니다.
			</h2>
			<button class="button" onclick="location.href='/login'">
				로그인 다시 시도
			</button>
		</div>

		<!--bfcache 처리-->
		<script>
			window.addEventListener("pageshow", function (event) {
				if (
					event.persisted ||
					window.performance?.navigation?.type === 2
				) {
					// 뒤로가기로 복원됐거나, bfcache로 들어옴
					location.reload(); // 강제로 새로고침
				}
			});
		</script>
	</body>
</html>
