<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ZiinDrive</title>
	</head>
	<body>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/active.css" />

		<!-- 사이트 로고 + 메뉴버튼 -->
		<span class="spanCustom">
			<span>
				<label style="font-size: 20px">&nbsp;&nbsp;&nbsp;</label>
				<label class="logo" onclick="toMainView()">
					<b>Ziin</b>Drive
				</label>
			</span>

			<div style="margin-right: 19px">
				<button class="menuBt" onclick="showMenu()">
					<b>≡</b>
				</button>
			</div>
		</span>

		<div class="overlay" onclick="closeMenu()"></div>

		<div class="sidemenu">
			<button class="menuBt" onclick="closeMenu()"><b>×</b></button>
			<h3 style="cursor: default; padding-left: 15px">MENU</h3>

			<ul class="menuList">
				<li id="allFilesMenu" onclick="location.href='/files'">
					모든 파일
				</li>
				<li id="favoritesMenu" onclick="location.href='/favorites'">
					즐겨찾기
				</li>
				<li
					id="trashbinMenu"
					style="border-bottom: 1px solid #ccc"
					onclick="location.href='/bin'"
				>
					휴지통
				</li>
			</ul>
		</div>

		<span class="spanCustom">
			<!-- 이름, 날짜별 검색 등 버튼 -->
			<span>
				<label
					style="
						font-size: 15px;
						margin-left: 25px;
						margin-right: 5px;
					"
				>
					제목
				</label>
				<input
					id="keyword"
					type="text"
					style="font-size: 15px; width: 10vw"
				/>

				<label
					style="font-size: 15px; margin-left: 5px; margin-right: 5px"
				>
					형식
				</label>
				<!--콤보박스-->
				<!-- 옵션은 자바파일 따로 만들어서 돌림 개꿀ㅋㅋㅋㅋ -->
				<select id="extension" class="select">
					<option value="">모든 형식</option>
					<optgroup label="문서">
						<option value="docx">docx</option>
						<option value="pdf">pdf</option>
						<option value="hwp">hwp</option>
						<option value="xlsx">xlsx</option>
						<option value="pptx">pptx</option>
						<option value="txt">txt</option>
						<option value="md">md</option>
					</optgroup>
					<optgroup label="이미지">
						<option value="png">png</option>
						<option value="jpg">jpg</option>
						<option value="jpeg">jpeg</option>
						<option value="gif">gif</option>
						<option value="bmp">bmp</option>
						<option value="webp">webp</option>
					</optgroup>
					<optgroup label="오디오">
						<option value="mp3">mp3</option>
						<option value="m4a">m4a</option>
						<option value="wav">wav</option>
					</optgroup>
					<optgroup label="동영상">
						<option value="mp4">mp4</option>
						<option value="avi">avi</option>
						<option value="mkv">mkv</option>
						<option value="mov">mov</option>
					</optgroup>
					<optgroup label="압축 파일">
						<option value="zip">zip</option>
						<option value="tar">tar</option>
						<option value="gz">gz</option>
						<option value="7z">7z</option>
					</optgroup>
					<optgroup label="코드">
						<option value="c">c</option>
						<option value="cpp">cpp</option>
						<option value="py">py</option>
						<option value="java">java</option>
						<option value="js">js</option>
						<option value="json">json</option>
						<option value="html">html</option>
						<option value="xml">xml</option>
					</optgroup>
					<optgroup label="기타">
						<option value="csv">csv</option>
						<option value="yml">yml</option>
					</optgroup>
				</select>

				<label
					style="font-size: 15px; margin-left: 5px; margin-right: 5px"
				>
					날짜
				</label>
				<input id="from" type="date" style="width: 10vw" />
				<label style="font-size: 15px">&nbsp;~&nbsp;</label>
				<input id="to" type="date" style="width: 10vw" />

				<button
					style="font-size: 16px; margin-left: 5px; cursor: pointer"
					onclick="searchFiles()"
				>
					검색
				</button>

				<button
					style="font-size: 16px; margin-left: 5px; cursor: pointer"
					onclick="initialize()"
				>
					초기화
				</button>
			</span>

			<!-- 업로드 버튼 표시 위치 -->
			<span>
				<input
					id="fileInput"
					name="fileInput"
					type="file"
					style="display: none"
					onchange="uploadFile()"
				/>
				<button
					type="button"
					class="uploadBt"
					onclick="document.getElementById('fileInput').click()"
				>
					<b>+</b>
				</button>
			</span>
		</span>

		<!--정렬 선택 버튼-->
		<div class="sortButtonsDiv">
			<button id="latest" class="sortBt" data-sort="latest">
				최신순
			</button>
			<button id="name" class="sortBt" data-sort="name">이름순</button>
			<button id="oldest" class="sortBt" data-sort="oldest">
				오래된순
			</button>
		</div>

		<!-- 모든 파일 리스트 -->
		<div>
			<table style="width: 100%; text-align: center">
				<thead>
					<tr style="height: 50px; align-items: center">
						<th style="width: 400px; color: rgb(134, 133, 133)">
							파일명
						</th>
						<th style="width: 200px; color: rgb(134, 133, 133)">
							업로드 날짜
						</th>
						<th style="width: 200px; color: rgb(134, 133, 133)">
							크기
						</th>
						<th>&nbsp;&nbsp;</th>
						<th>&nbsp;&nbsp;</th>
						<th>&nbsp;&nbsp;</th>
						<th>&nbsp;&nbsp;</th>
					</tr>
				</thead>
				<tbody id="tBody">
					<!--js에서 구현-->
				</tbody>
			</table>
		</div>

		<!-- 파일이 없을 때 -->
		<div id="isEmpty" class="isEmpty">
			<h3>파일이 없습니다.</h3>
		</div>

		<!-- script -->
		<script src="/js/upload.js"></script>
		<script src="/js/download.js"></script>
		<script src="/js/search.js"></script>
		<script src="/js/rename.js"></script>
		<script src="/js/showMenu.js"></script>

		<script src="/js/render.js" type="module"></script>
		<script src="/js/sort.js" type="module"></script>
		<script src="/js/favorite.js" type="module"></script>
		<script src="/js/delete.js" type="module"></script>

		<!--bfcache 처리-->
		<script>
			window.addEventListener("pageshow", function (event) {
				if (
					event.persisted ||
					window.performance?.navigation?.type === 2
				) {
					// 뒤로가기로 복원됐거나, bfcache로 들어옴
					location.reload(); // 강제로 새로고침
				}
			});
		</script>
	</body>
</html>
