<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>휴지통 - ZiinDrive</title>
	</head>
	<body>
		<div
			style="
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: center;
			"
		>
			<h2>아직 구현을 못했어요 ㅜㅜ<br /></h2>
		</div>

		<div
			style="
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: center;
			"
		>
			<h4>조금만 기다려 주세요!</h4>
		</div>
	</body>
</html>
