<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>휴지통 - ZiinDrive</title>
	</head>
	<body>
		<link rel="stylesheet" href="/css/file/style.css" />
		<link rel="stylesheet" href="/css/file/bin.css" />

		<!-- 사이트 로고 + 메뉴버튼 -->
		<span class="spanCustom">
			<span
				style="display: flex; flex-direction: row; align-items: center"
			>
				<label class="logo" onclick="location.href='/files'">
					<b>Ziin</b>Drive
				</label>
				<label style="font-size: 20px"
					>&nbsp;&nbsp;|&nbsp;&nbsp;휴지통</label
				>
			</span>

			<span
				style="display: flex; flex-direction: row; align-items: center"
			>
				<img
					src="/images/default_profile.png"
					class="profile"
					onclick="showUserPage()"
				/>
				<button
					class="menuBt"
					style="margin-top: 5px; margin-right: 20px"
					onclick="showMenu()"
				>
					<b>≡</b>
				</button>
			</span>
		</span>

		<div class="overlay" onclick="closeMenu()"></div>

		<ul class="userPage">
			<p style="margin-bottom: 0; padding-left: 16px; font-size: 20px">
				<b>닉네임</b>
			</p>
			<p
				style="
					margin-top: 5px;
					margin-bottom: 20px;
					padding-left: 18px;
					font-size: 13px;
					color: gray;
				"
			>
				아이디
			</p>
			<li>사용자 정보</li>
			<li onclick="logout()">로그아웃</li>
		</ul>

		<div class="sidemenu">
			<button class="menuBt" onclick="closeMenu()"><b>×</b></button>
			<h3 style="cursor: default; padding-left: 15px">MENU</h3>

			<ul class="menuList">
				<li id="allFilesMenu" onclick="location.href='/files'">
					모든 파일
				</li>
				<li id="favoritesMenu" onclick="location.href='/favorites'">
					즐겨찾기
				</li>
				<li
					id="trashbinMenu"
					style="border-bottom: 1px solid #ccc"
					onclick="location.href='/bin'"
				>
					휴지통
				</li>
			</ul>
		</div>

		<div class="shredAllBtDiv">
			<button class="shredAllBt" onclick="shredAll()">
				휴지통 비우기
			</button>
			<label style="font-size: 15px">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</label>
		</div>

		<!-- 모든 파일 리스트 -->
		<div>
			<table>
				<thead>
					<tr class="firstTr">
						<th style="width: 400px; color: rgb(134, 133, 133)">
							파일명
						</th>
						<th style="width: 220px; color: rgb(134, 133, 133)">
							업로드 날짜
						</th>
						<th style="width: 220px; color: rgb(134, 133, 133)">
							크기
						</th>
						<th>&nbsp;&nbsp;</th>
						<th>&nbsp;&nbsp;</th>
						<th>&nbsp;&nbsp;</th>
					</tr>
				</thead>
				<tbody id="tBody">
					<!--js에서 구현-->
				</tbody>
			</table>
		</div>

		<!-- 파일이 없을 때 -->
		<div id="isEmpty" class="isEmpty">
			<h3>휴지통이 비어 있습니다.</h3>
		</div>

		<!-- 스크립트 -->
		<script src="/js/file/showMenu.js"></script>
		<script src="/js/file/bin.js"></script>

		<script src="/js/user/logout.js"></script>

		<!--bfcache 처리-->
		<script>
			window.addEventListener("pageshow", function (event) {
				if (
					event.persisted ||
					window.performance?.navigation?.type === 2
				) {
					// 뒤로가기로 복원됐거나, bfcache로 들어옴
					location.reload(); // 강제로 새로고침
				}
			});
		</script>
	</body>
</html>
